.root
{
    -fx-background-color: black;
}
.text-area
{
    -fx-width: 600px;
    -fx-height: 120px;
    -fx-border: 3px solid #cccccc;
    -fx-padding: 5px;
    -fx-font-family: Times New Roman;
    -fx-background-image: url("grunge-leather-background-texture.jpg");
    -fx-background-position: bottom right;
    -fx-background-repeat: no-repeat;
}
.text-field
{
    -fx-background-color: aqua;
}

